<template name="home">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="row">
                <a class="navbar-brand link" href="{{pathFor 'home'}}">{{Config.name}}</a>
                <div id="main-nav" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        {{#if User}}
                        {{> userDropdown}}
                        {{else}}
                        <li>
                            <a href="{{pathFor 'atSignIn'}}" class="link">{{_ "login2"}}</a>
                        </li>
                        <li>
                            <a href="{{pathFor 'atSignUp'}}" class="link btn btn-hollow">{{_ "signup"}}</a>
                        </li>
                        {{/if}}
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <section id="intro" class="text-center">
        <div class="container">
            <div class="intro-well wow animated bounceIn">
                <div class="row">
                    <div class="col-lg-12 col-sm-12">
                        <h1>{{Config.title}}</h1>
                        <h2 class="hidden-xs">{{Config.subtitle}}</h2>
                        {{#if User}}
                        <a href="{{pathFor 'dashboard'}}" class="btn btn-success"><i class="fa fa-dashboard"></i> {{_ "dashboard"}}</a>
                        {{else}}
                        <a class="btn btn-hollow" href="{{pathFor 'atSignUp'}}">{{_ "getstarted"}}</a>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>
